/***** HEADER *****/

.header {
    background-color: rgb(27, 27, 28);
    color: rgb(240, 236, 13);
    font-weight: bold;
    padding: 30px;
    background-image:url(assets/images/Longboat.jpg);
}

.header-H1 {
    text-align: center;
    text-decoration: underline;
}


.nav {
    text-align: center;
    color:rgb(241, 240, 245);
    padding: 10px;
}

.nav:hover {
    text-decoration: none;
}

#seperating-line {
    height: 10px;
    background-color:rgb(241, 240, 245);
}



/****** index.HTML PARAGRAPH CONTENT ******/

.text-center {
    text-align: center;
}

.section-formatting {
    padding:5%;
    }

.viking-timeline-left {
    background-color: rgb(34, 33, 33);
    text-align: justify;
    float:left;
    width: 50%;
    padding: 15px;
    margin-bottom: 10%;
    border-radius: 25px;
    border: 2px solid #f1f3ef;
}
.viking-timeline-right {
    background-color: rgb(30, 29, 29);
    text-align: justify;
    float: right;
    width: 50%;
    padding: 15px;
    margin-bottom: 10%;
    border-radius: 25px;
    border: 2px solid #f1f3ef;
}

.background-color {
    background-color: rgb(5, 5, 5);
    color: rgb(220, 220, 218);
}

.h3 {
    color: rgb(240, 236, 13);
}

.h2 {
    color: rgb(240, 236, 13);
}

#longboat {
    max-width: 50%;
    max-height: 33.66%;
    object-fit: contain;
    float: right;
}

/***** paragraph content ivar.HTML *****/

.ivar-content {
    background-color: rgb(30, 29, 29);
    text-align: justify;
    float: right;
    padding: 15px;
    margin-bottom: 10%;
    border-radius: 25px;
    border: 2px solid #f1f3ef;
}

article {
    width:50%;
    margin-bottom: 3%;
}