/***** HEADER *****/

.header {
    background-color: rgb(27, 27, 28);
    color: rgb(243, 241, 250);
    font-weight: bold;
    padding: 30px
    
}

.header-H1 {
    text-align: center;
    text-decoration: underline;
}

.header-paragraph {
    text-align: center
}

.nav {
    text-align: center;
    color:rgb(241, 240, 245);
    padding: 10px;
}

.nav:hover {
    text-decoration: none;
}

#seperating-line {
    height: 10px;
    background-color:rgb(73, 125, 238);
}



/****** PARAGRAPH CONTENT ******/

.text-center {
    text-align: center;
}

.section-formatting {
    padding:5%;
    }

.viking-timeline-left {
    background-color: rgb(34, 33, 33);
    text-align: justify;
    float:left;
    width: 50%;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    border: 2px solid #f1f3ef;
}
.viking-timeline-right {
    background-color: rgb(30, 29, 29);
    text-align: justify;
    float: right;
    width: 50%;
    padding: 5px;
    margin: 15px;
    border-radius: 25px;
    border: 2px solid #f1f3ef;
}

.background-color {
    background-color: rgb(5, 5, 5);
    color: rgb(220, 220, 218);
}

#h2 {
    color: aliceblue;
}

